{% extends 'base.html.twig' %}

{% block title %}Signalement index{% endblock %}

{% block body %}
    <h1>Signalement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in signalements %}
            <tr>
                <td>{{ signalement.id }}</td>
                <td>
                    <a href="{{ path('signalement_show', {'id': signalement.id}) }}">show</a>
                    <a href="{{ path('signalement_edit', {'id': signalement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('signalement_new') }}">Create new</a>
{% endblock %}
